* {
  box-sizing: border-box;
}
/* Title */
h1{
    padding-top: 75px;
    color:white;
    margin: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin: auto;
    font-size: 45px;
    letter-spacing: 10px;
    
}
/*Text under title*/
.subtext {
    color:white;
    font-size: 25px;
    font-family: cursive;
    padding-bottom: 20px;
}

/*Banner*/
header{
    background-image: url(images/background/EmergingTechnologies.jpg);
    height: 200px;
    
}


header p{
    text-align: center;
    margin: auto
}
/*wrapper*/
main{
    padding-top: 100px;
    width: 550px;
    margin: auto;
}
/* centered and border picture */
.profile-picture{
    margin-left: 75px;
    border-radius: 150px;
    border: 8px solid #000000;
}

/*Contact Links*/
.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
}
/*Bottom Banner*/
footer{
    color: white;
    margin: auto;
    padding: 25px;
    background-image: url(images/background/EmergingTechnologies.jpg);
}
/*pseudo classes*/
a:link {color: white;}
a:visited {color: blue;}
a:hover {color: green;}
a:active {color: red;}

main ul{
    list-style-position: inside;
    margin: 0;
}
main hr{
    margin-top: 50px;
    margin-bottom: 0;
    border: 2px solid #000; 
    width: 550px;
    background-color: #e0e0e0;
}
body{
    background-color: #e0e0e0
}

.about{
    padding-top: 50px;
}
/*Contact me logos*/
.logo {
    width: auto;
}