.little-space-intro {
  display: flex;
  margin-top: 875px;
}
.intro-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.profile-picture {
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.profile-picture-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2.8rem;
}

.profile-picture-dark {
  box-shadow: 0px 0px 0px 10px #1f1f1f;
  border-radius: 25px;
}

.intro-first-para-container {
  display: flex;
  justify-content: center;

}
.intro-first-para {
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: larger;
  letter-spacing: 0.2rem;
}
.intro-first-para > p {
  margin: 30px;
}
.intro-first-para-dark > p {
  margin: 30px;
}
.intro-first-para-dark {
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 10px #1f1f1f;
  border-radius: 25px;
  background-color: #2c2c2c;
  font-size: larger;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 480px) {
  .profile-picture{
    width: 85%;
  }
  .profile-picture-dark{
    width: 85%;
  }
}
@media screen and (min-width: 425px) {
  .intro-first-para {
    width: 85%;
    height: 575px;
  }
  .intro-first-para-dark {
    width: 85%;
    height: 575px;
  }
}
@media screen and (min-width: 768px) {
  .intro-first-para {
    width: 85%;
    height: 330px;
  }
  .intro-first-para-dark {
    width: 85%;
    height: 330px;
  }
}
@media screen and (min-width: 1024px) {
  .intro-first-para {
    width: 85%;
    height: 260px;
  }
  .intro-first-para-dark {
    width: 85%;
    height: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .intro-section-container {
    flex-direction: row;
  }
  .intro-first-para {
    margin-left: 200px;
    height: 461px;
    width: 435px;
  }
  .intro-first-para-dark {
    margin-left: 200px;
    height: 461px;
    width: 435px;
  }
}
