@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.app-main-level{
  background-image: url(/src/images/background-img-updated-v2.png);
  background-size: length;
}